.menu_rec {
    background-color: rgba(255, 255, 255, 0.971);
    border: 1px solid white;
    width: 180px;
    height: 45px;
    margin-left: 4px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    float: left;
}
.menu_rec a:hover {
    background-color: red;
}