/* --- Page présentation --- */
.presentation-content {
    max-width: 80%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(255, 215, 0, 0.1);
    line-height: 1.8;
    font-size: 1.1em;
    color: white;
    text-align: justify;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.presentation-content:hover {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.3);
}

.presentation-content b {
    color: gold;
    font-weight: 600;
}